html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #ececec;
    overflow: auto;
    scrollbar-color: #32328f #9b9bed;
    scrollbar-width: thin;
}

body::-webkit-scrollbar{
    width: 6px;
    height: 6px;
    background-color: #9b9bed;
}

body::-webkit-scrollbar-thumb{
    background-color: #32328f;
}

body::-webkit-scrollbar-corner{
    background-color: #9b9bed;
}