#Content{
    flex-direction: row;
    margin-top: 100px;
}

#Wall{
    padding: 16px 16px 16px 48px;
}

#Wall > span{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: #4848ca;
    text-align: center;
    margin-top: 150px;
}