@media screen and (max-width: 1000px){
    body{
        background-color: white;
    }

    #Error-wrap{
        width: 100%;
    }

    #Error-message > p{
        margin-bottom: 0;
    }

    #Error-picture{
        display: none;
    }

    #Login-wrap{
        flex-direction: column;
    }

    #Reg-form-wrap{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        padding-bottom: 8px;
        border-radius: 0 0 10px 10px;
    }

    .reg-form-animation-forwards{
        height: 500px;
        width: 100%;
    }

    .reg-form-animation-backwards{
        height: 50px;
        width: 100px;
    }
    
    .login-form-animation-forwards{
        border-radius: 10px 10px 0 0;
    }
    
    .login-form-animation-backwards{
        border-radius: 10px;
    }

    .show-button-animation-forwards{
        transform: scaleY(-1);
    }
    
    .show-button-animation-backwards{
        transform: scaleY(1);
    }

    #Navbar-icon > object{
        margin-left: 10px;
    }

    #Navbar-list{
        flex-direction: column;
        flex-grow: 1;
    }

    #Navbar-list > i, .Navbar-list-item{
        margin-left: 4px;
        margin-right: 4px;
    }

    .Navbar-list-item{
        margin-bottom: 20px;
        opacity: 0;
        animation: navbar-list-item-reveal 1s ease-out 0s 1 forwards;
    }

    .Navbar-list-item:last-child{
        margin-bottom: 0;
    }

    .Navbar-list-item > span{
        display: none;
    }

    #Profile{
        box-shadow: none;
    }

    #Post{
        margin: 0;
        box-shadow: none;
        border-radius: 0;
    }

    #Post-footer{
        margin-left: auto;
    }

    .post-footer-animation{
        animation: post-footer-item-click-media 1s ease-out 0s 1 forwards;
    }
}