@media screen and (max-width: 1100px){
    #Error-wrap{
        width: 100%;
    }

    #Error-message > p{
        margin-bottom: 0;
    }

    #Error-picture{
        display: none;
    }

    #Login-wrap{
        flex-direction: column;
    }

    #Reg-form-wrap{
        flex-direction: column;
        padding-right: 0;
        padding-bottom: 8px;
        border-radius: 0 0 10px 10px;
        margin: 0 auto;
    }

    .reg-form-animation-forwards{
        height: 500px;
        width: 100%;
    }

    .reg-form-animation-backwards{
        height: 50px;
        width: 100px;
    }
    
    .login-form-animation-forwards{
        border-radius: 10px 10px 0 0;
    }
    
    .login-form-animation-backwards{
        border-radius: 10px;
    }

    .show-button-animation-forwards{
        transform: scaleY(-1);
    }
    
    .show-button-animation-backwards{
        transform: scaleY(1);
    }  

    #Navbar-icon > img{
        margin-left: auto;
    }

    #Navbar-list{
        flex-direction: column;
        flex-grow: 1;
    }

    #Navbar-list > i, .Navbar-list-item{
        margin-left: 4px;
        margin-right: 4px;
    }

    #Navbar-search{
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
    }

    #Navbar-search > input{
        border-color: #a2a2a2;
    }

    #Navbar-search > input:focus{
        border-color: #787878;
    }

    .Navbar-list-item{
        margin-bottom: 20px;
        opacity: 0;
        animation: navbar-list-item-reveal 1s ease-out 0s 1 forwards;
    }

    .Navbar-list-item:last-child{
        margin-bottom: 0;
    }

    .Navbar-list-item > span{
        display: none;
    }

    #Footer-buttons{
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: column;
    }

    #Footer-buttons > button{
        width: auto;
        margin-right: 0;
        margin-bottom: 10px;
    }

    #Footer-buttons > button:last-child{
        margin-right: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1300px){
    .post-footer-animation{
        animation: post-footer-item-click-media 1s ease-out 0s 1 forwards;
    }

    #Content{
        flex-direction: column;
        height: auto;
    }

    #Wall{
        margin: 0;
        width: 100%;
        padding: 16px;
    }

    #Profile{
        position: relative;
        width: 100%;
    }

    .profile-position-settings-on, .profile-position-settings-off{
        margin: 30px 0 0 0;
    }

    #Profile-header{
        margin-top: 30px;
    }

    .Post{
        columns: 1;
    }

    .Post-header > span{
        font-size: 0.8em;
    }

    .Post-footer{
        margin: auto auto 8px;
    }
}