#Post{
    background-color: white;
    border-radius: 10px;
    box-shadow: -2px 1px 10px #a2a2a2aa;
    margin: 48px;
}

#Post-content{
    font-family: 'Roboto', sans-serif;
    color: #000000;
    opacity: 0.9;
    padding: 0;
    margin: 0;
    text-align: center;
}

#Post-footer{
    font-size: 1.8em;
    margin-right: auto;
}

#Post-footer > i{
    color: #787878;
    cursor: pointer;
    transition: 0.3s ease-out;
}

#Post-footer > i:hover{
    color: #4848ca;
}

@keyframes post-footer-item-click{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2) rotateZ(45deg);
    }
    100%{
        transform: scale(1) rotateZ(0);
    }
}

@keyframes post-footer-item-click-media{
    0%{
        transform: scaleX(1);
    }
    50%{
        transform: scaleX(-1);
    }
    100%{
        transform: scaleX(1);
    }
}

.post-footer-animation{
    animation: post-footer-item-click 1s ease-out 0s 1 forwards;
}