#Profile{
    margin: auto;
}

#Profile-header > p, #Profile-content > i, #Profile-footer > p{
    font-family: 'Roboto', sans-serif;
    color: #000000b5;
    padding: 0;
    margin: 0;
    text-align: center;
}

#Profile-header > p{
    font-weight: bolder;
    font-size: 1.3em;
}

#Profile-header > img{
    width: 100px;
}

#Profile-content > i{
    opacity: 0.9;
}

#Profile-footer > p{
    opacity: 0.66;
    margin-top: auto;
}


