.profile-position-settings-off{
    margin: 100px 10px auto;
    position: fixed;
}

.profile-position-settings-on{
    margin: 50px auto 0;
    position: relative;
}

#Profile{
    background-color: white;
    box-shadow: 0 2px 10px #a2a2a2;
    border-radius: 10px;
}

#Profile-header > p, #Profile-content > p, #Profile-footer > p, #Footer-buttons > button{
    font-family: 'Roboto', sans-serif;
}

#Profile-header > p, #Profile-content > p, #Profile-footer > p{
    padding: 0;
    margin: 0;
}

#Profile-header > p{
    color: #787878;
    font-weight: bolder;
    font-size: 1.3em;
    text-align: center;
}

#Profile-header > img{
    width: 100px;
}

#Profile-content > p{
    font-style: italic;
    opacity: 0.9;
    color: #000000b5;
    text-align: justify;
}

#Profile-footer > p{
    margin-top: auto;
    color: #787878;
    text-align: center;
}

#Profile-header > input, #Profile-content > textarea, #Profile-footer > input {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    outline: none;
    color: black;
    padding: 2px 20px;
    border-radius: 10px;
    border: 2px solid #a2a2a2;
}

#Profile-content > textarea{
    min-height: 100px;
}

#Profile-content > textarea:focus, #Profile-header > input:focus, #Profile-footer > input:focus{
    border-color: #787878;
}


