.Search-item{
    background-color: white;
    box-shadow: 0 2px 10px #a2a2a2;
    cursor: pointer;
    color: #787878;
    transition: 0.3s ease-out;
    margin-bottom: 20px;
    border-radius: 10px;
}

.Search-item:hover{
    background-color: #4848ca;
    color: white;
}

.Search-item > img{
    width: 50px;
    background-color: #4848ca;
    border-radius: 100%;
}

.Search-item > span, #Search-results > span{
    text-align: center;
}

.Search-item > span{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

#Search-results > span{
    font-size: 2em;
    color: #4848ca;
}

#Search-results > span, #Page-end{
    font-family: 'Roboto', sans-serif;
}

#Page-end > span{
    font-size: 1.3em;
}

#Page-end > i{
    font-size: 2.5em;
}

#Page-end{
    color: #4848ca;
}