.active-animated{
    display: flex;
    animation: reg-success-popup-reveal 1s ease-out 0s 1 forwards;
}

.active{
    display: flex!important;
}

.hidden{
    display: none!important;
}

.correct{
    box-shadow: none!important;
}

.incorrect{
    box-shadow: 0 3px 3px red!important;
}