#Wall{
    padding: 16px 0 16px 48px;
    overflow: auto;
    scroll-snap-type: y proximity;
    scrollbar-color: #4848ca transparent;
    scrollbar-width: thin;
}

#Wall::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background-color: transparent;
}

#Wall::-webkit-scrollbar-thumb{
    background-color: #4848ca;
}