#Wall{
    width: 100%;
    height: calc(100vh - 100px);
    border-bottom: 3px solid #4848ca;
    border-left: 3px solid #4848ca;
    padding: 16px;
    overflow: auto;
    scrollbar-color: #4848ca transparent;
    scrollbar-width: thin;
    box-shadow: inset 2px 2px 10px #787878;
    background-color: #9b9bed33;
}

#Wall::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background-color: transparent;
}

#Wall::-webkit-scrollbar-thumb{
    background-color: #4848ca;
}